/* index.css */

:root {
  --primary-color: #39ff14;
  --secondary-color: #d2d2d2;
  --background-color: #222;
  --text-color: whitesmoke;
  --border-color: #333;

  --tertiary-color: #555;

  --first-gradient: #444444ca;
  --second-gradient: #333333ca;

  --black-linear-bg: linear-gradient(
    131deg,
    rgba(2, 2, 56, 0.7204131652661064) 0%,
    rgba(2, 2, 86, 1) 44%,
    rgba(74, 71, 114, 1) 92%
  );

  --rgb-lineat-bg: linear-gradient(
    135deg,
    black,
    red,
    blue
  );

  --font-color: #fff;
  --font-color-gray: #d2d2d2;

  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-42: 2.625rem;
  --font-size-48: 3rem;
  --font-size-72: 4.5rem;

  --border-radius: 10px;
}

.dark-mode {
  --primary-color: #39ff14;
  --secondary-color: #ff0101;
  --background-color: #ffffff;
  --text-color: #fff;
  --border-color: #4e4e4e; /* for only 20% descount line background*/

  --tertiary-color: #dcdcdc; /*for only below hero section*/
  /* --tertiary-color: #ededed; for only below hero section */

  --first-gradient: #dcdcdc;
  --second-gradient: #999999;

  --black-linear-bg: linear-gradient(
    -131deg,
    rgb(254, 167, 167),
    rgb(123, 123, 251)
  );

  --rgb-lineat-bg: linear-gradient(
    135deg,
    /* rgb(188, 188, 188), */
    rgb(254, 167, 167),
    rgb(123, 123, 251)
  );

  --font-color: #252525;
  --font-color-gray: #3f3f3f;
  /* --font-color-gray: #323232; */

  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-42: 2.625rem;
  --font-size-48: 3rem;
  --font-size-72: 4.5rem;

  --border-radius: 10px;
}

/* create Account.css */
/* 
:root {
  --primary-color: #39ff14; == >#0ff50f 
  --secondary-color: #00ffff;
  --tertiary-color: #555;
  --background-color: #333;
  --error-color: #ff3131;

  --first-gradient: #444444ca;
  --second-gradient: #333333ca;

  --font-color: #fff;
  --font-color-gray: #d2d2d2;

  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-42: 2.625rem;
  --font-size-48: 3rem;
  --font-size-72: 4.5rem;

  --border-radius: 10px;
}
 */
