@import url(../Style/design.layout.css);


*{
      margin: 0;
      padding: 0;
}

body{
      background-color: var(--background-color);
      color: var(--font-color);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout-margin{
      margin: 10px 120px;
}

.main-hero-div{
      display: flex;
      height: fit-content;
      /* background-color: aliceblue; */
}

.left-div{
      height: 300px;
      width: 70%;
      padding: 10px 50px;
}

.right-div{
      width: 40%;
      padding: 10px 20px;
}

.container-sub-div{
      padding: 10px 20px;
      margin: 30px 0;
      border-radius: 5px;
      border: 2px solid var(--primary-color);
      /* box-shadow: 1px 1px 10px var(--secondary-color); */
      /* background-color: var(--tertiary-color); */
}

h2{
      font-size: 36px;
}

p{
      text-align: justify;
      margin: 20px 0;
}

.left-text-p{
      font-size: 22px;
      line-height: 40px;
}

.use-case-div{
      padding: 10px 120px;;
      background-color: aqua;
}